{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'journal/styles.css' %}">
        <title>journal</title>

        <script src="{% static 'journal/scripts.js' %}"></script>
    </head>

    <body>
        <div id="branding">
            <h1>Journal</h1>
            <form action="{% url 'journal:search' %}">
                {% csrf_token %} 
                <input type="text" name="keyword" placeholder="Date YYYY-MM-DD">
                <input type="submit" value="Search">
            </form>
            <h3><a href="{% url 'journal:index' %}">Home</a></h3>
            <h3><a href="{% url 'journal:newjournal' %}">New journal</a></h3>
            <h3><a href="{% url 'journal:randomjournal' %}">Random Journal</a></h3>

        </div>

        <div id="mainBody">
            {% block body %}

            {% endblock %}
        </div>
    </body>
</html>